body{
    margin: 0;
    padding: 0;
}
.first_page{
    height: 100vh;
    /* width: 100vw; */
    /* border: 2px solid black; */
    background-color: #043873;
   
}
.navbar{
    height: 20vh;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.symbol{
    /* background-color: blue; */
    width: 39px;
    display: flex;
    height: 30px;
    margin-left: 6rem;
    margin-bottom: 3rem;
    align-items: center;
}

.symbole_txt{
    color: #FFFFFF;
    margin-left: 10px;
    font-style: Roboto;
    font-size: 20px;
}

.main_nav{
    padding-left: 11rem;
    margin-left: 8rem;
    width: 45rem;
    gap: 1rem;
    /* border: 2px solid red; */
}

.main_nav ul li {
    color: white;
    list-style: none;
    text-decoration: none;
    background: transparent;
}


.main_nav ul li select {
    color: white;
    background-color: #043873;
    border: none;
    margin-left: 5rem;
}

.buttons{
    width: 15rem;
    /* padding-left: 45rem; */
    margin-left: 47rem;
    margin-top: -2.5rem;
    padding-bottom: 3rem;
    /* border: 2px solid black; */
    align-items: center;
}

.login_btn{
    height: 4.5vh;
    width: 5vw;
    background-color: #FFE492;
    border-radius: 5px;
}
.try_btn{
    height: 4.5vh;
    width: 10vw;
    text-align: center;
    background-color: #4F9CF9;
    color: #FFFFFF;
    border-radius: 5px;
}
.Second_box{
    /* border: 2px solid black; */
    display: flex;
    gap: 2px;
   
}
.left_box{
    /* border: 2px solid black; */
    width: 38vw;
    height: 80vh;
    color: #FFFFFF;
    padding-left: 6rem;
    
}
.right_box{
    /* border: 2px solid black; */
    width: 50vw;
    
}
.rgt_btn{
    text-align: center;
    color: white;
    background: transparent;
    height: 6vh;
    width: 10vw;
    margin-top: 5rem;
    border: none;
    background-color: #4F9CF9;
    border-radius: 5px;
    font-size: 13.5px;
    font-weight: 80px;
}
.txt_left_second{
    padding-top: 3rem;
    font-weight: 400px;
    font-weight: 50px;
    font-size: 19px;
}
.Second_box .left_box h1{
    font-family: "Roboto";
    font-weight: 50px;
    font-size: 50px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


.inner_right_box{
    margin-top: 3rem;
    /* border: 2px solid pink; */
    height: 60vh;
    width: 42vw;
    margin-left: 3rem;
    background-color: #C4DEFD;
}

/*Second page for this project css*/

.second_page{
    /* width: 100vh; */
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    gap: 2px;
    
}
.second_page_left{
    width: 50vw;
    /* border: 2px solid black; */
    padding-left: 5.5rem;
}
.second_page_right{
    width: 50vw;
    /* border: 2px solid black; */
}
.second_page_head{
    font-family: "Roboto";
    font-weight: 40px;
    font-size: 50px;
    padding-top: 10rem;
    margin-bottom: 3rem;
}
.second_page_btn{
    height: 2rem;
    width: 8rem;
    border-radius: 4px;
    background: transparent;
    background-color: #4F9CF9;
    border: none;
    color: #FFFFFF;
    margin-top: 3rem;
    font-size: 19px;
    font-family: "Sans sarif";
}
.second_page_para{
    font-family: "Sans Sarif";
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    font-weight: 40px;
    font-size: 19px;
}
.second_page_inner{
    margin-left: 1rem;
    margin-top: 7rem;
    height: 65vh;
    width: 40vw;
    /* border: 2px solid pink; */
    background: transparent;
    background-color: #C4DEFD;
}
